Datasets/
.venv/
venv/
word_cloud_revies.csv
word_cloud_reviews.*
fecha_hora.csv
Datawarehouse/
Datawarehouse/estados.parquet
Datawarehouse/restaurantes.parquet
Datawarehouse/reviews.parquet
ETL_viejo.ipynb
